/* Media Quaries*/

/* Ultra-Wide Screens */
@media (min-width: 1920px) {
    body {
        font-size: 18px;
    }

    header {
        padding: 40px;
    }

    .logo {
        height: 150px;
    }

    h1 {
        font-size: 24px; 
    }

    .image-container {
        margin-top: 50px;
    }
  }
  
  /* Large Desktop Screens (1200 pixels and above) */
  @media (min-width: 1200px) { 
   body {
    font-size: 16px; 
   } 
   header { 
    padding: 30px
   } 
   .logo {
    height: 180px; 
   }
   h1 {
    font-size: 28px;
   } 
   .image-container {
    margin-top: 80px;
   }

  }
  
  /* Standard Desktop Screens (992 to 1199 pixels) */
  @media (min-width: 992px) and (max-width: 1199px) {
    .logo {
        height: 150px;
    }
  }
  
  /* Tablets and Small Desktop Screens (768 to 991 pixels) */
  @media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 24px;
    }
  }
  
  /* Mobile Devices (up to 767 pixels) */
  @media (max-width: 767px) {
    .image-container {
        margin-top: 50px;
    }
  }
  
  /* General CSS Rules */

  body {
    background-color: #C6EAF0;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #90BABF;
    bottom: 0;
    left: 0;
    width: auto;
    padding: 30px; 
    display: flex;
    justify-content: center;  
}

.logo {
    display: flex;
    justify-content: center;
    align-content: flex-end; 
    height: 200px;
    max-height: 100%; 
}

input[type="checkbox"] {
    display: none; 
}

.menu-icon {
    cursor: pointer;
    font-size: 24px; 
}

.menu {
    display: none; /* Hide the menu by default */
}

/* Show the menu when the checkbox is checked */
input[type="checkbox"]:checked ~ .menu {
    display: block;
}


h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

h2 {
    text-align: center;
}

.scrolling-banner {
    position: relative;
}

.banner-item {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.banner-item div {
    margin: 0 100px;
}

.banner-items {
    display: flex; 
    width: fit-content;
    gap: 20px;
    animation: scrollBanner 10s linear infinite;
} 

.banner-item {
    max-width: 0 auto;
    height: 150;
    background-color: #ffffff;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.image-container img {
    margin: 30px;
}

@font-face {
    font-family:'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf'); 
    src: url('../fonts/OpenSans-Bold.ttf');
}

@keyframes scrollBanner {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
} 

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: black;
    z-index: 1;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
} 

footer {
    background-color: #ffffff;
    border-top: 1px solid black;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.social-media a:not(:last-child) {
    margin-right: 20px;
}


  <!--About Us--> 

.wrapped {
    white-space: normal;
} 

.container {
    text-align: center;
}